<div class="author">

  <p class="author-name">💡Think 🔨Build 💰Value</p>
  <p class="author-bio">{{ site.author.bio }}</p>

  <div class="button-div">
    <button class="button" type="button" name="button" onclick="location.href = 'https://thinkbuildvalue.substack.com';">SUBSCRIBE NOW</button>
  </div>

  <div class="subscribe-div">
    <p>
      👉 Get a free book summaries, business insights and updates on my entrepreneur journey straight to your inbox if you subscribe today.</p>
  </div>

  </div>

